body{
    margin: 0 auto;
    padding: 0;
    width: 600px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    background-image: url('fondo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#audio{
    display: none
}

#audio-2{
    display: none;
}

.titulo{
    /*background: rgb(34,83,195);
    background: linear-gradient(0deg, rgba(34,83,195,1) 0%, rgba(18,45,105,1) 38%, rgba(0,0,0,1) 94%);*/
    background-image: url('fondo-encabezado.png');
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    height: 100px;
    font-size: xx-large;
    padding-top: 0px;
    padding-bottom: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-color: black;
    border-style: inset;
}
.radios{
    color: white;
    cursor: pointer;
}

.radio-button{
    cursor: pointer;
}

.logo-derecho{
    padding-top: 15px;
}

.div-1{
    font-size: 75%;
    font-family: Helvetica, sans-serif;
}
.div-2{
    line-height: 0;
}
.encabezado{
    opacity: 50%;
    background-color: #2e3839;
    color: white;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
}

.contenedor{
    transition: transform 2s ease-in, opacity 2s ease-in-out;
}

.contenedor-1{
    background: rgb(69,244,252);
background: linear-gradient(90deg, rgba(69,244,252,1) 0%, rgba(78,69,252,1) 25%, rgba(68,72,199,1) 50%, rgba(77,94,252,1) 75%, rgba(69,244,252,1) 100%);
    height: 200px;
    line-height: 40px;
    border-radius: 10px;
    border-color: black;
    border-color: black;
    border-style: inset;
}

.move{
    transform: translateX(300px);
    opacity: 1;
}

.contenedor-2{
    background-color: #E1F0DA;
    height: 950px;
    line-height: 50px;
    border-radius: 10px;
    border-color: black;
    padding-left: 100px;
    padding-top: 30px;
}

.contenedor-3{
    background-color: #BBE2EC;
    height: 150px;
    line-height: 0px;
    border-radius: 10px;
    border-color: black;
    padding-left: 100px;
    padding-top: 30px;
    border-bottom-style: inset;
}

.contenedor-4{
    background-color: #40A2E3;
    height: 400px;
    line-height: 10px;
    border-radius: 10px;
    border-color: black;
    padding-left: 100px;
    padding-top: 30px;
}

.contenedor-5{
    background-color: #008170;
    height: 190px;
    line-height: 0px;
    border-radius: 10px;
    border-color: black;
    padding-left: 100px;
    padding-top: 10px;
}

.contenedor-6{
    background-color: #B2A59B;
    height: 520px;
    line-height: 0px;
    border-radius: 10px;
    border-color: black;
}

.botones{
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}

.texto{
    background-color: gainsboro;
    border-radius: 10px;
    width: 300px;
}


/*.gradiant{
    background: linear-gradient( -45deg, #ffe259, #ffa751);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 200px;
    border-radius: 10px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
